:root {
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 50%);
    --color-black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-yellow);
    font-family: "Figtree", sans-serif;
}

.post-card {
    max-width: 24rem;
    padding: 1.5rem;
    border-radius: 1.2rem;    
    border-left: 2px solid var(--color-black);
    border-top: 2px solid var(--color-black);
    box-shadow: 10px 10px 0 var(--color-black);
    background-color: var(--color-white);
    transition: all 0.4s ease;
}

.post-card:hover {
    box-shadow: 14px 14px 0 var(--color-black);
}

.post-card img {
    max-width: 100%;
    display: block;
    border-radius: 0.8rem;
}

.header,
.post-content,
.attribution {
    margin-block: 1.5rem;
}

.post-categories {
    font-size: 0.9rem;
    font-weight: 800;
    background-color: var(--color-yellow);
    display: inline-block;
    padding: 4px 12px;
    border-radius: 0.3rem;
}

.post-date {
    font-size: 0.8rem;
    font-weight: 600;
    margin-block: 1rem 1.5rem;
}

.post-title {
    font-size: 1.5rem;
    font-weight: 800;
}

.post-title a:link,
.post-title a:visited {
    text-decoration: none;
    color: var(--color-black);
}

.post-title a:hover,
.post-title a:active {
    color: var(--color-yellow);
}

.post-content {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-grey);
    line-height: 150%;
}

.post-footer {
    display: flex;
    gap: 0.8rem;
}

.post-footer img {
    width: 2rem;
}

.post-footer h3 {
    font-size: 1rem;
    font-weight: 800;
    line-height: 200%;
}

.attribution {
    font-size: 0.8rem;
    font-weight: 600; 
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
} 

.attribution a:link,
.attribution a:visited {
    text-decoration: none;
    color: var(--color-yellow);
}

.attribution a:hover, .attribution a:active {
    color: var(--color-grey);
    font-size: 0.82rem;
}

@media (max-width: 500px) {
    .post-card {
        max-width: 20rem;
    }

    .post-title {
        font-size: 1.2rem;
    }
}

